.main-wrapper {
    display: flex;
    flex-flow: column;
}

.header-menu {
    position: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.footer-container {
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language {
    color: #ffffff;
    font-family: "objektiv-mk1", sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-right: 7%;
}

.header-menu-nav {
    padding: 0 25px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.sx-side-graphic {
    width: 800px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo-vertical-bar {
    margin-left: 3px;
}

.benv-orbita-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.benv-orbita-text {
    margin: 0;
    background: linear-gradient(180deg, rgb(123.09, 255, 152.11) 0%, rgb(162.01, 255, 249.42) 100%);
    background-clip: text;
    color: transparent; 
    font-family: "objektiv-mk1", sans-serif;
    font-size: 64px;
    font-weight: 900;
    font-style: normal;
}

.benv-orbita-subtext {
    color:#ffffff;
    margin: 0;
    font-size: 18px;
}

.galassie-wrapper {
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rectangle02 {
    position: relative;
    z-index: 2;
}

.rect-pink {
    position: relative;
    height: 782px;
    width: 80%;
    background: linear-gradient(180deg, rgb(255, 162.01, 245.7) 0.57%, rgb(255, 123.09, 162.66) 100%);
    z-index: 1;
}

.dx-side-graphic {
    width: 20%;
    z-index: 800;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 30px;
}

.home-section {
    height: 2400px;
    background-color: #000000;
    border-color: #ffffff;
}

.about-section {
    height: 1200px;
    background-color: #d55b5b;
    border-color: #ffffff;
    border: 5px solid;
} 
.services-section {
    height: 2400px;
    background-color: #000000;
    border-color: #ffffff;
} 

.eve-section {
    height: 1200px;
    background-color: #11790f;
    border-color: #ffffff;
    border: 5px solid;
} 
.join-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 1200px;
    background-color: #000000;
    border-color: #ffffff;
    border: 5px solid;
}

.menu-element {
    cursor: pointer;
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
    position: relative;
}

.menu-element:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the underline height as needed */
    background-color: #ffffff; /* Adjust the underline color as needed */
    transition: width 0.3s ease; /* Adjust the transition duration and timing function as needed */
}

.menu-element:hover:before {
    width: 100%;
}

.animated-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem; /* Adjust the font size as needed */
    z-index: index 900;
}

.title-text {
    margin: 0; /* Adjust the spacing as needed */
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    font-family: "objektiv-mk1", sans-serif;
    font-size: 96px;
    font-weight: 900;
    font-style: normal;
}