.main-wrapper {
    display: flex;
    flex-flow: column;
}

.header-menu {
    position: fixed;
    padding-top: 3%;
    padding-bottom: 30px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.footer-container {
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language {
    color: #ffffff;
    font-family: "objektiv-mk1", sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-right: 7%;
}

.header-menu-nav {
    padding: 0 25px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.sx-side-graphic {
    position: relative;
    z-index: 2;
    width: 800px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.logo-vertical-bar {
    margin-left: 3px;
}

.benv-orbita-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.benv-orbita-text {
    margin: 0;
    background: linear-gradient(180deg, rgb(123.09, 255, 152.11) 0%, rgb(162.01, 255, 249.42) 100%);
    background-clip: text;
    color: transparent; 
    font-family: "objektiv-mk1", sans-serif;
    font-size: 78px;
    font-weight: 900;
    font-style: normal;
}

.benv-orbita-subtext {
    color:#ffffff;
    margin: 0;
    font-size: 24px;
}

.galassie-wrapper {
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rect-pink {
    position: relative;
    height: 782px;
    width: 85%;
    background: linear-gradient(180deg, rgb(255, 162.01, 245.7) 0.57%, rgb(255, 123.09, 162.66) 100%);
    z-index: 1;
}

.rectangle03 {
    margin-bottom: -210px;
}

.rectangle04 {
    margin-top: -210px;
}

.dx-side-graphic {
    width: 15%;
    z-index: 800;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.home-section {
    background-color: #000000;
    border-color: #ffffff;
}

.services-section {
    background-color: #000000;
    border-color: #ffffff;
} 

.eve-section {
    height: 1024px;
    background-color: #000000;
} 
.join-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 700px;
    background-color: #000000;
}

.menu-element {
    cursor: pointer;
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
    position: relative;
}

.menu-element:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the underline height as needed */
    background-color: #ffffff; /* Adjust the underline color as needed */
    transition: width 0.3s ease; /* Adjust the transition duration and timing function as needed */
}

.menu-element:hover:before {
    width: 100%;
}

.animated-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem; /* Adjust the font size as needed */
    z-index: index 900;
}

.title-wrapper {
    display: flex;
    padding-top: 240px;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.title-text {
    margin: 0; /* Adjust the spacing as needed */
    color: #ffffff;
    font-family: "objektiv-mk1", sans-serif;
    font-size: 96px;
    font-weight: 900;
    font-style: normal;
}

.title-subtext {
    color:#ffffff;
    margin: 0;
    font-family: "objektiv-mk1", sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.sx-eve-graphic {
    position: relative;
    z-index: 2;
    margin-top: -50px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.eve-text-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
}

.eve-description {
    color: #ffffff;
    font-size: 24px;
}

.rome2024 {
    margin-left: 3px;
}

.eveOfVertical {
    margin-left: -1px;
}

.logoVerticalFooter {
    margin-left: -8.5px;
}

.eve-main-wrapper {
    margin-top: -1170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}